html{
font-family: Roboto, sans-serif;
}

ul.mainmenu {
    position: sticky;
    top: 0;
    display: flex;
    align-items: flex-start;
    list-style: none;
    background: #2c3e50;
    height: 60px;
    margin: 0;
    padding: 0;
    font-size: 26px;
    overflow: hidden;
}
ul.mainmenu li {
    float: left;
    margin: 18px 40px 0 25px;
}

ul.mainmenu li a {
    color: #ffffff;
    text-decoration: none;
    transition: .25s all ease;
}
ul.mainmenu li a:hover {
    color: #f39c12;
}

.main-container{
    padding-bottom: 80px;
    width: 80%;
    margin: 0 auto;
    background: rgb(0, 0, 1, 0.75);
    background-filter: blur(0.5);
}

.content {

}

.content h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/*particles*/
body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: #bcc0c2;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
/*  position: absolute;*/
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


.form-contact{
  color: #fff;
  position: relative;
  z-index: 1;
  margin: 20px;
  background: rgb(0, 0, 1, 0.5);
  border-radius: 20px;
  width: 40%;
  margin: 0 auto 100px;
  text-align: center;
  padding: 30px 0;
}



#email,#psw,#psw2{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-color: None;
  width: 60%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 20px;
  color: (0, 255, 0);
}


#remember{
  width: 15px;
  height: 15px;
  margin: 0 0 10px 0;
}

#submit{
  background: None;
  color: #fff;
  padding: 10px;
  border: 1px solid white;
  width: 150px;
  align: center;
  border-radius: 20px;
  margin: 0 auto 10px;
  font-size: 20;

}

#submit:hover{
  background-color: #9E9B9B;
}

#register{
  padding: 10px 0;
  display: inline-block;
  color: #fff;
  border: 1px solid white;
  width: 148px;
  align: center;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 20;
}

#register:hover{
  background: #9E9B9B;
}

hr{
    display: inline-block;
    width: 30px;
}

#or{
    display: inline-block;
    transform: translate(0, -3px);
}

.flash.error1{
	border: 1px solid rgb(217, 199, 35);
	background: rgb(177, 179, 177, 0.5);
	text-align: center;
	border-radius: 20px;
	font-size: 15px;
	margin-bottom: 10px;
	color: #fff;
	width: 80%;
	margin: 0 auto 10px;
}

a:visited{
  color: #fff;
}


.drop-zone {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.image-display {
    background: no-repeat center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style-image-display{
    background: no-repeat url('../styles_image/1.jpg') ;
    background-size: cover;
}

.style-image-display, .image-display{
  width: 400px;
  height: 400px;
  border: solid white 4px;
  margin: 0 10px;
  border-radius: 7%;
}


.main-neuro-container{
  display: flex;
  justify-content: center;
}

.image-hint {
    display: inline-block;
    width: 150px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.error{
    background: red;
    color: white;
}

#image_origin{
 display: block;
}
