<link type="text/css" href="{{ url_for('static', filename='css/examples.css')}}" rel="stylesheet" />
{% extends 'base.html' %}

{% block content %}
{{ super () }}

<div class="examples">
    <img src="./static/examples/example1-1.jpg" alt="Tobey Maguire example origin">
    <img src="./static/examples/example1-2.png" alt="Tobey Maguire example style">
</div>
<div class="result">
    <img src="./static/examples/result1.jpg" alt="Tobey Maguire example result">
</div>

<div class="examples">
    <img src="./static/examples/example2-1.jpg" alt="Cat example origin">
    <img src="./static/examples/example2-2.png" alt="Cat example style">
</div>
<div class="result">
    <img src="./static/examples/result2.jpg" alt="Cat example result">
</div>

<div class="examples">
    <img src="./static/examples/example3-1.jpg" alt="Girl example origin">
    <img src="./static/examples/example3-2.jpg" alt="Girl example style">
</div>
<div class="result">
    <img src="./static/examples/result3.png" alt="Girl example result">
</div>

{% endblock %}