{% extends 'base.html' %}

{% block content %}
{{ super () }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form class="image-form" action="{{url_for('render')}}" method="POST" enctype="multipart/form-data">
    <div class="main-neuro-container">
    <div>
    <div class="image-display"></div>
    <input class="image-input" type="file" name="file">
    </div>
    <div>
    <div class="style-image-display"></div>
    <select name="stylish" >
        <option value="1">
            Carpet
        </option>
        <option value="2">
            Vibe-lines
        </option>
    </select>
    </div>
    </div>
    <div class="submit"><input type="submit" value="Render"></div>

</form>


<<!--  <script src="./static/js/drag&drop.js"></script>-->>
<a href="{{url_for('logout')}}">LOG OUT</a>

<script src="./static/js/select-image.js"></script>
{% endblock %}