<link type="text/css" href="{{ url_for('static', filename='css/select.css')}}" rel="stylesheet" />
{% extends 'base.html' %}

{% block content %}
{{ super () }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form class="image-form" action="{{url_for('render')}}" method="POST" enctype="multipart/form-data">
    <div class="main-neuro-container">
    <div>
    <div class="image-display">
        <span class="image-hint">Please upload your image</span>
    </div>
    <input class="image-input" type="file" name="file">
    </div>
    <div>
    <div class="style-image-display"></div>
        <div class="select">
    <select name="stylish">
        <option value="1">
            Carpet
        </option>
        <option value="2">
            Vibe-lines
        </option>
    </select>
    </div>
    </div>
    </div>
    <div class="submit"><input type="submit" value="Render"></div>

</form>



<a href="{{url_for('logout')}}">LOG OUT</a>
<script src="./static/js/image-display.js"></script>
<script src="./static/js/select-image.js"></script>
{% endblock %}