<link type="text/css" href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet" />
{% extends 'base.html' %}

{% block content %}
{{ super () }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<form action='' method='post' class='form-contact'>
{{ form.hidden_tag() }}

{% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
    <div>{{ field.label() }}</div>
    {% if field.errors %}
        {{ field(class='invalid') }}
    <div class="invalid-feedback" >
        {% for e in field.errors %}
        {{ e }}
        {% endfor %}
    </div>
    {% else %}
        {{ field() }}
    {% endif %}
{% endfor %}


<p>{{form.remember.label() }} {{ form.remember() }}
<p>{{ form.submit() }}

<p><a id='register' href="{{url_for('register')}}">Sign up</a>
</form>



{% endblock %}