{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/register" method="post" class="form-contact">
{{ form.hidden_tag() }}

{% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
    <div class='form-item'>
    <div>{{ field.label() }}</div>
    {% if field.errors %}
        {{ field(class='invalid') }}
    <span class="invalid-feedback" >
        {% for e in field.errors %}
        {{ e }}
        {% endfor %}
    </span>
    </div>
    {% else %}
        {{ field() }}
    {% endif %}
{% endfor %}

<p>{{ form.submit() }}
</form>
{% endblock %}